@import '../../node_modules/ol/ol.css';
@import '../../node_modules/ol-layerswitcher/dist/ol-layerswitcher.css';
@import './controls.css';

/* OpenLayers viewport and containers */
.ol-viewport {
    @apply h-[var(--map-viewport-height)] !important;
}

.ol-viewport.ol-touch {
    @apply h-[var(--map-viewport-height)] !important;
}


/* Status Bar */
#status-bar {
  @apply bg-primary bg-gradient-to-r from-primary to-primary-hover px-2
         flex items-center text-xs text-text-primary border-t border-accent/50;
}

.status-left {
  @apply flex-1 flex items-center gap-6;
}

.status-attribution-link {
  @apply text-text-primary underline hover:text-accent;
}

.status-right {
  @apply flex items-center gap-4;
}

#mouse-position {
  @apply flex items-center text-text-secondary whitespace-nowrap;
}

#coordinates {
  @apply font-mono;
}

#altitude {
  @apply font-mono;
}

/* Progress Circle */
.progress-circle {
  @apply relative w-5 h-5;
}

.progress-circle-bg {
  @apply absolute inset-0 rounded-full border-2 border-primary-hover/30;
}

.progress-circle-fill {
  @apply absolute inset-0 w-full h-full text-accent;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-width: 4px;
}

.progress-text {
  @apply relative inset-0 flex items-center justify-center;
}


/* Responsive Design */
@media (max-width: 64em) { /* 1024px */
  .ol-viewport {
      @apply h-[var(--map-viewport-height)] !important;
  }
  
  .ol-viewport.ol-touch {
      @apply h-[var(--map-viewport-height)] !important;
  }
}

@media (max-width: 30em) { /* 480px */
  .ol-viewport {
      @apply h-[var(--map-viewport-height)] !important;
  }
  
  .ol-viewport.ol-touch {
      @apply h-[var(--map-viewport-height)] !important;
  }
}